@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);

}

.container {
    display: flex;
    /* flex-direction: column; */
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    column-gap: 5%;
    row-gap: 5%;
    margin-top: 100px;

}

.left {
    display: flex;
    flex-direction: column;
    width: 30%;
    row-gap: 2.5%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 70%;
    row-gap: 2.5%;

}




.tile {
    padding: 10px;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 10px;


}

.intro {
    flex-direction: column;
    width: 100%;
}



.tile .image {
    height: 300px;
    flex-shrink: 0;
    padding: 10px;
}

.tile .image img {
    height: 100%;
    width: 100%;
    border-radius: 10px;

    object-fit: cover;
}

.tile .designation {
    color: #828282;
}

.tile .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.tile .information .about {
    color: #828282;
    margin-bottom: 10px;
}

.tile .information h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tile .information .about>p {
    margin-bottom: 20px;
}

.intro .information .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}

.tile .information .contacts>div:nth-child(2) {
    margin-top: 10px
}

.tile .information .about>* {
    margin-bottom: 10px;
    font-size: 18px;
}

.tile .information .contacts>div>* {
    margin-bottom: 10px;
}


.input-button {
    width: 94px;
    height: 49px;
    margin: 4px;
    background-color: #2ab8e3;
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 12px;
    cursor: pointer;
    border: #2ab8e3 solid 2px;
}

.two {
    background-color: white;
    color: black;
}

.input-button:hover {
    background-color: rgb(2, 97, 134);
    color: white;

}


.knowledge-container {
    display: flex;
    width: 100%;
    column-gap: 5%;
}

.knowledge-container>.knowledge {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.knowledge-container>.knowledge>h1 {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bar-container {
    display: flex;

    flex-direction: column;

    row-gap: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 00;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    width: 100%;
    margin-bottom: 20px;



    color: #4F4F4F;
}

.bars {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;

}

.bars>p {
    width: 100%;

}

.bar-container>div {
    width: calc(100% - 40px);
}

.bar-container>div>div {
    width: 100%;
}

.bar-container>div>div>div {
    height: 10px;
    background: #2F80ED;
    border-radius: 5px;
}

.bar-container>div>div {
    height: 10px;
    background: #edf2f9;
    border-radius: 5px;
}

.bar-container>div:nth-child(1)>div>div {
    width: 20%;
}

.bar-container>div:nth-child(2)>div>div {
    width: 80%;
}

.bar-container>div:nth-child(3)>div>div {
    width: 60%;
}

.bar-container>div:nth-child(4)>div>div {
    width: 90%;
}

.bar-container>div:nth-child(5)>div>div {
    width: 70%;
}

.bar-container>div:nth-child(6)>div>div {
    width: 100%;
}

.bar-container>div:nth-child(5)>div>div {
    width: 30%;

}


.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    padding: 10px;
    width: 100%;
}

.experience>.row {
    display: flex;
    flex-direction: column;
    column-gap: 5%;
}

.experience .row .card {
    display: flex;
    flex-direction: row;
    column-gap: 10%;

}

.experience>.row>.card>div {
    width: 100%;
}

.experience>.row>.card>div>p {
    margin-bottom: 10px;
    font-size: 16px;
}

.experience>.row>.card>div>p:nth-child(2) {
    font-weight: 900;

    font-size: 18px;
}

.experience>.row>.card>div>p:nth-child(3) {
    margin-bottom: 50px;
}


#adidas {
    height: 60px;
}

#hm {
    height: 60px;
}

#levi {
    height: 40px;
}

.hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    padding: 10px;
    width: 100%;
}

.hobbies>.row {

    flex-direction: column;
    width: 100%;
    margin: 0 auto;

}

.hobbies>.row>.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hobbies>.row>.card>div>p:first-child {
    font-weight: bold;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;

}

.hobbies>.row>.card>div>p:last-child {

    padding-bottom: 20px;

}

.hobbies>.row>.card {
    position: relative;
}

.hobbies>.row>.card>img {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.hr-bar {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.project {
    width: 100%;
}

.project>.image {
    width: 50%;
}


.blogs>.tile {
    width: 100%;
}

.blogs>.tile>.image {
    width: 50%;
    overflow-x: hidden;


}

.blogs>.tile>.image>img {
    position: relative;
    left: 100px;

}

.blogs>.tile>.information {
    display: flex;
    flex-direction: column;
    width: 50%;
}



@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 10%;

    }

    .container>div {
        margin-bottom: 0px;
    }

    .tile {
        flex-direction: column;
    }

    .left {
        width: 80%;
        margin: 0 auto;
    }

    .right {
        width: 80%;
        margin: 0 auto;
    }

    .left>div {
        margin-bottom: 100px;
    }

    .knowledge-container {
        flex-direction: column;
    }

    .knowledge-container>.knowledge:first-child {
        margin-bottom: 50px;
    }

    .knowledge-container>.knowledge {
        width: 100%;
    }


    .right>div {
        margin-bottom: 50px;
    }


    .project>.image {
        width: 100%;
    }

    .blogs>.tile {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .blogs>.tile>.information,
    .image {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 100%;
    }

}